## [Start] Setting "language" to default value of "en". **
$util.qr($context.args.input.put("language", $util.defaultIfNull($ctx.args.input.language, "en")))
## [End] Setting "language" to default value of "en". **
## [Start] Setting "region" to default value of "US". **
$util.qr($context.args.input.put("region", $util.defaultIfNull($ctx.args.input.region, "US")))
## [End] Setting "region" to default value of "US". **
{}